<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Community 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Community</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header>
    <ion-label>Heute im Coworking Space anzutreffen</ion-label>
  </ion-list-header>
  

  <ion-grid>
    <ion-row>
      <ng-container *ngIf="community$ | async as communityList; else loading">
         <ion-col size="12" size-md="3" size-xl="2" *ngFor="let community of communityList">
          <ion-card button="true">
            <img src="{{community.profilePicture}}" />
            <ion-card-header>
              <ion-card-subtitle>
                Von {{community.metadata.dateFromStringTime}} bis {{community.metadata.dateToStringTime}} Uhr im Coworking
              </ion-card-subtitle>
              <ion-card-title>{{community.metadata.firstName}} {{community.metadata.lastName}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{community.bio}}
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ng-container>
      <ng-template #loading>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-content>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-content>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-content>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-subtitle>
              <ion-card-title>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </ion-card-title>
            </ion-card-header>
            <ion-content>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </ion-content>
          </ion-card>
        </ion-col>
      </ng-template>
    </ion-row>
<!-- DEMNÄCHST-->

<ion-list-header>
  <ion-label>Demnächst im Coworking Space anzutreffen</ion-label>
</ion-list-header>

<ion-row>
  <ng-container *ngIf="communityFuture$ | async as communityList; else loadingFuture">

    <ion-col size="12" size-md="3" size-xl="2" *ngFor="let community of communityList">
      <ion-card button="true">
        <img src="{{community.profilePicture}}" />
        <ion-card-header>
          <ion-card-subtitle>
            Am {{community.metadata.dateFromStringDate}} ab {{community.metadata.dateFromStringTime}} bis {{community.metadata.dateToStringTime}} Uhr im Coworking
          </ion-card-subtitle>
          <ion-card-title>{{community.metadata.firstName}} {{community.metadata.lastName}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{community.bio}}
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ng-container>
  <ng-template #loadingFuture>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-content>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-content>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-content>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-subtitle>
          <ion-card-title>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-card-title>
        </ion-card-header>
        <ion-content>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </ion-content>
      </ion-card>
    </ion-col>
  </ng-template>
</ion-row>



  </ion-grid>

</ion-content>
