<ion-header>
  <ion-toolbar>
    <ion-title>{{desk.name}} buchen</ion-title>
    
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss(false)">
        schliessen
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>

  <!--<ion-item>
    <ion-label>Desk auswählen</ion-label>
    <ion-select placeholder="Desk auswählen" value='{{desk.name}}'>
      <ion-select-option value="1">Desk 1</ion-select-option>
      <ion-select-option value="2">Desk 2</ion-select-option>
      <ion-select-option value="3">Desk 3</ion-select-option>
      <ion-select-option value="4">Desk 4</ion-select-option>
      <ion-select-option value="5">Desk 5</ion-select-option>
      <ion-select-option value="6">Desk 6</ion-select-option>
    </ion-select>
  </ion-item>-->

  <ion-item>
    <ion-label position="floating">Reservationsdatum wählen</ion-label>
    <ion-datetime presentation="date" locale="de-DE" (ionChange)="dateChange($event)"></ion-datetime>

<!-- Custom buttons 
<ion-datetime #customDatetime>
  <ion-buttons slot="buttons">
    <ion-button (click)="confirm()">Good to go!</ion-button>
    <ion-button (click)="reset()">Reset</ion-button>
  </ion-buttons>
</ion-datetime>-->

  </ion-item>

  <ion-radio-group (ionChange)="radioChange($event)" value="Day">
    <ion-list-header>
      <ion-label>
        Angebot wählen
      </ion-label>
    </ion-list-header>
    <div *ngFor="let offer of deskConfig">

      <ion-item >
        <ion-label>
          <h2>{{offer.description}}</h2>
          <p>{{offer.usageHours}}</p>
          <!--<p *ngIf="(offer.type=='Week' || offer.type=='Month') && reservation.bookingType==offer.type">{{reservation.dateFrom | date:'dd.MM.y'}} - {{reservation.dateTo | date:'dd.MM.y'}}</p>-->
        </ion-label>
        <ion-radio value="{{offer.type}}"></ion-radio>

        <ion-badge *ngIf="!occupied?.hasOwnProperty(offer.type)"slot="end" color="success">{{offer.price}} CHF</ion-badge>
        <ion-badge *ngIf="occupied?.hasOwnProperty(offer.type)" slot="end" color="danger">gebucht</ion-badge>
      </ion-item>
    </div>
  </ion-radio-group>
</ion-list>

<ion-button (click)="bookReservation()" expand="block">Buchung abschliessen</ion-button>

</ion-content>
