<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Passwort zurücksetzen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Passwort zurücksetzen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="/assets/img/starthub-light.jpg"></ion-img>



  <ion-item>
    <ion-label position="stacked">E-Mail Adresse</ion-label>
    <ion-input type="email"></ion-input>
  </ion-item>
  <ion-button color="primary" expand="block">Passwort zurücksetzen</ion-button>
<p>Login nochmals probieren?</p>
  <ion-button color="secondary" expand="block" href="/login">Login</ion-button>

</ion-content>
