<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button *ngIf="isAdmin || isBock" tab="dashboard">
      <ion-icon name="list"></ion-icon>
      <ion-label>Administration</ion-label>
    </ion-tab-button>

    <!--

      <ion-tab-button *ngIf="isAdmin || isBock" tab="invoice-list">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-label>Rechnungen</ion-label>
      </ion-tab-button>
          -->
      <ion-tab-button  tab="community">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-label>Community</ion-label>
      </ion-tab-button>



    <ion-tab-button tab="desks">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Desk buchen</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Reservationen</ion-label>

      <ng-container *ngIf="reservation$ | async as reservation">
        <ion-badge *ngIf="reservation.length>0" color="danger">{{reservation.length}}</ion-badge>
      </ng-container>
    </ion-tab-button>
    
    <ion-tab-button tab="faq">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>FAQ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>

