<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-avatar class="ion-margin-start">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  
  <ion-list>
    <ion-item>
    </ion-item>
    <ion-item></ion-item>
    <ion-item></ion-item>
  </ion-list>
  
  <ion-list-header>Default</ion-list-header>

</ion-content>
