<ion-header>
  <ion-toolbar>
    <ion-title>Deine Reservation {{reservation.desk.name}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        schliessen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-list lines="none">
      <ion-list-header>
        <ion-label>
           {{reservation.bookingTypeDescription}}
        </ion-label>
      </ion-list-header>

      <ion-item>
        <!--<ion-label >Desk Beschreibung</ion-label>-->
        <ion-textarea readonly value="{{reservation.desk.description}}" clearInput ></ion-textarea>
      </ion-item>

      <ion-item >
        <ion-label >
          <h2>Start deiner Buchung</h2>
          <p> {{(reservation.dateFrom.seconds * 1000 ) | date:'dd.MM.y'}} {{(reservation.dateFrom.seconds * 1000 ) | date:'HH:mm'}}  Uhr</p>
          </ion-label>  
      </ion-item>
  
      <ion-item >
        <ion-label >
          <h2>Ende deiner Buchung</h2>
          <p> {{(reservation.dateTo.seconds * 1000 ) | date:'dd.MM.y'}} {{(reservation.dateTo.seconds * 1000 ) | date:'HH:mm'}}  Uhr</p>
        </ion-label>
      </ion-item>

  
      <ion-item >
        <ion-label >
          <h2>Preis:</h2>
        </ion-label>
         
        <ion-badge slot="end">
          CHF {{reservation.price}}.-
        </ion-badge>
      </ion-item>


      <ion-img src={{reservation.desk.picture}}>

      </ion-img>
      <div *ngIf="allowDelete">
        <ion-button expand="block" color="danger" (click)="cancel(reservation)">
          stornieren
        </ion-button>
      </div>
 
  </ion-list>
  <div *ngIf="allowDelete">
  <deckgo-qrcode  content="{{ reservation.id }}"></deckgo-qrcode>
  </div>

</ion-content>
