<ion-header>
  <ion-toolbar>
    <ion-title>Deine Reservation</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        schliessen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-list lines="none">
      <ion-list-header>
        <ion-label color="secondary">
          {{reservation.desk.name}}
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label color="secondary">Beschreibung</ion-label>
        <ion-textarea readonly value="{{reservation.desk.description}}" clearInput ></ion-textarea>
      </ion-item>
  
      <ion-item >
        <ion-label *ngIf="reservation.bookingType=='Morning'"><h2>Morgen</h2><p>08:00 - 12:30 Uhr</p><p>Preis: CHF {{reservation.price}}.-</p></ion-label>
        <ion-label *ngIf="reservation.bookingType=='Afternoon'"><h2 >Nachmittag</h2> <p>13:00 - 17:30 Uhr</p><p>Preis: CHF {{reservation.price}}.-</p></ion-label>
        <ion-label *ngIf="reservation.bookingType=='Day'"><h2>Ganzer Tag</h2> <p>08:00 - 17:30 Uhr</p><p>Preis: CHF {{reservation.price}}.-</p></ion-label>
        <ion-label *ngIf="reservation.bookingType=='Week'"><h2>Ganze Woche</h2> <p>Mo bis Fr 08:00 - 17:30 Uhr</p><p>Preis: CHF {{reservation.price}}.-</p></ion-label>
        <ion-label *ngIf="reservation.bookingType=='Month'"><h2>Ganzer Monat</h2><p>Preis: CHF {{reservation.price}}.-</p></ion-label>

        <ion-badge slot="end">
          {{(reservation.dateFrom.seconds * 1000 ) | date:'dd.MM.y'}}
        </ion-badge>
      </ion-item>

      <ion-button expand="block" color="danger" (click)="cancel(reservation)">
        stornieren
      </ion-button>
 
  </ion-list>

  <deckgo-qrcode content="{{ reservation.id }}"></deckgo-qrcode>

</ion-content>
