<ion-header>
  <ion-toolbar>
    <ion-title>Deine Reservation</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        schliessen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>


  <ion-list lines="none">
      <ion-list-header>
        <ion-label color="secondary">
          {{reservation.desk.name}}
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label color="secondary">Beschreibung</ion-label>
        <ion-textarea readonly value="{{reservation.desk.description}}" clearInput ></ion-textarea>
      </ion-item>
  
      <ion-item >
        <ion-label >
          <h2>Deine Buchung</h2>
          <p>{{(reservation.dateFrom.seconds}} - {{(reservation.dateTo.seconds}} Uhr</p>
          <p>Preis: CHF {{reservation.price}}.-</p></ion-label>

        <ion-badge slot="end">
          {{(reservation.dateFrom.seconds}}
        </ion-badge>
      </ion-item>

      <ion-button *ngIf="allowDelete" expand="block" color="danger" (click)="cancel(reservation)">
        stornieren
      </ion-button>
 
  </ion-list>

  <deckgo-qrcode *ngIf="allowDelete" content="{{ reservation.id }}"></deckgo-qrcode>

</ion-content>
