<ion-header>
  <ion-toolbar>
    <ion-title>Resource hinzufügen</ion-title>
    
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss(false)">
        schliessen
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Allgemeine Informationen</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked" color="secondary" >Name</ion-label>
      <ion-input [(ngModel)]="desk.name" clearInput value="Tisch 1"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked" color="secondary">Beschreibung</ion-label>
      <ion-textarea [(ngModel)]="desk.description" clearInput value="Mehr Informationen" placeholder="Enter more information here..."></ion-textarea>
    </ion-item>

    <ion-item (click)="takePicture()">
      <ion-thumbnail slot="start">
        <img src="{{ desk.picture }}">
      </ion-thumbnail>
      <ion-label>Bild hinzufügen/ändern</ion-label>
    </ion-item>  

  </ion-list>

  <ion-button expand="block" (click)="addResource()">hinzufügen</ion-button>

</ion-content>
