<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
  
      <ion-col>
  
      </ion-col>
      <ion-col  size="12" size-sm>
        

  <ion-list *ngIf="userProfile$ | async as userProfile">
    <ion-list-header>
      <ion-label>Dein Meeting Point Profil</ion-label>
    </ion-list-header>
    <ion-avatar class="ion-margin-start" (click)="takePicture(userProfile)">
      <img
        src="{{ userProfile.profilePicture || '/assets/logo.png'}}">
    </ion-avatar>

    <ion-item>
      <ion-label position="stacked">E-Mail Adresse</ion-label>
      <ion-input readonly [(ngModel)]="userProfile.email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Voranme</ion-label>
      <ion-input [(ngModel)]="userProfile.firstName" type="text"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="stacked">Nachname</ion-label>
      <ion-input [(ngModel)]="userProfile.lastName" type="text"></ion-input>
    </ion-item>

    <ion-button color="primary" expand="block" (click)="saveProfile(userProfile)">speichern</ion-button>


  </ion-list>
</ion-col>
<ion-col>

</ion-col>
</ion-row>
</ion-grid>

  <!--
  <ion-list *ngIf="invoices$ | async as invoiceList">
    <ion-list-header>
      Rechnungen
    </ion-list-header>
        <ion-item button detail (click)="openInvoice(invoice)"  *ngFor="let invoice of invoiceList">
      
          <ion-label>
            <h2>ABC</h2>
            <p>xyz</p>
          </ion-label>
            
          <ion-badge color="success" *ngIf="invoice.statusPaid">bezahlt</ion-badge>
          <ion-badge color="danger" *ngIf="!invoice.statusPaid">offen</ion-badge>

        </ion-item>

  </ion-list>-->


</ion-content>
