<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="logout()">
        logout
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container  *ngIf="userProfile | async as user">

    <ion-avatar class="ion-margin-start">
      <img src="{{ user.profilePicture || 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'}}">
    </ion-avatar>
    
  
    <ion-item>
      <ion-label position="stacked">E-Mail Adresse</ion-label>
      <ion-input  [(ngModel)]="user.email" type="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Voranme</ion-label>
      <ion-input  [(ngModel)]="user.firstName" type="text"></ion-input>
    </ion-item>
  
  
    <ion-item>
      <ion-label position="stacked">Nachname</ion-label>
      <ion-input  [(ngModel)]="user.lastName" type="text"></ion-input>
    </ion-item>
  
    <ion-button color="primary" expand="block" (click)="saveProfile(user)">speichern</ion-button>
  
  </ng-container>



</ion-content>
