<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservationen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservationen</ion-title>
    </ion-toolbar>
  </ion-header>  

  <ion-list *ngIf="reservation$ | async as reservationList">
    <ion-list-header>
      Zukünftige Reservationen
    </ion-list-header>

    <ion-item-sliding *ngFor="let reservation of reservationList">
      <ion-item button detail  (click)="presentModal()">
        <ion-avatar slot="start">
          <img src="{{reservation.image}}">
        </ion-avatar>
        <ion-label>
          <h2>{{reservation.name}}</h2>
          <h3>{{reservation.bookingType}}</h3>
          <p>{{reservation.price}}</p>
        </ion-label>
        <ion-badge slot="end">
          {{(reservation.date.seconds * 1000 ) | date:'dd.MM.y'}}
        </ion-badge>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="cancel(reservation)">stornieren</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


    <ng-container ngIf="!reservationList">

      <ion-list-header>
        <ion-label>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-avatar slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ng-container>

  </ion-list>

</ion-content>
