<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservationen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservationen</ion-title>
    </ion-toolbar>
  </ion-header>  

  <ion-list *ngIf="reservation$ | async as reservationList">
    <ion-list-header>
      Kommende Reservationen
    </ion-list-header>

    <ion-item-sliding *ngFor="let reservation of reservationList" #slidingItem>
      <ion-item button detail  (click)="presentModal(reservation, true)">
        <ion-avatar slot="start">
          <img src="{{reservation.picture}}">
        </ion-avatar>

        <ion-label><ion-badge color="tertiary">{{reservation.desk.name}}</ion-badge><h2>{{reservation.bookingTypeDescription}}</h2><p>{{(reservation.dateFrom.seconds * 1000 ) | date:'HH:mm'}} - {{(reservation.dateTo.seconds * 1000 ) | date:'HH:mm'}} Uhr</p><p>Preis: CHF {{reservation.price}}.-</p></ion-label>
 
        <ion-badge color="primary" slot="end" *ngIf="reservation.bookingType=='Day' || reservation.bookingType=='Morning' || reservation.bookingType=='Afternoon'">
          {{(reservation.dateFrom.seconds * 1000 ) | date:'dd.MM.y'}}
        </ion-badge>
        <ion-badge color="primary" slot="end" *ngIf="reservation.bookingType=='Week' || reservation.bookingType=='Month'">
          {{(reservation.dateFrom.seconds * 1000 ) | date:'dd.MM.y'}} -
          {{(reservation.dateTo.seconds * 1000 ) | date:'dd.MM.y'}}
        </ion-badge>
      </ion-item>
       

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="cancel(slidingItem, reservation)">stornieren</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>


  </ion-list>

  <ion-list *ngIf="reservationPast$ | async as reservationListPast">
    <ion-list-header>
      Vergangene Reservationen
    </ion-list-header>

    <!--<ion-item-sliding *ngFor="let reservation of reservationListPast" #slidingItemPast>-->
        <ion-item button detail  (click)="presentModal(reservation, false)" *ngFor="let reservation of reservationListPast">
          <ion-avatar slot="start">
            <img src="{{reservation.picture}}">
          </ion-avatar>
  
          <ion-label><ion-badge color="tertiary">{{reservation.desk.name}}</ion-badge><h2>{{reservation.bookingTypeDescription}}</h2><p>{{(reservation.dateFrom.seconds * 1000 ) | date:'HH:mm'}} - {{(reservation.dateTo.seconds * 1000 ) | date:'HH:mm'}} Uhr</p><p>Preis: CHF {{reservation.price}}.-</p></ion-label>
   
          <ion-badge color="primary" slot="end" *ngIf="reservation.bookingType=='Day' || reservation.bookingType=='Morning' || reservation.bookingType=='Afternoon'">
            {{(reservation.dateFrom.seconds * 1000 ) | date:'dd.MM.y'}}
          </ion-badge>
          <ion-badge color="primary" slot="end" *ngIf="reservation.bookingType=='Week' || reservation.bookingType=='Month'">
            {{(reservation.dateFrom.seconds * 1000 ) | date:'dd.MM.y'}} -
            {{(reservation.dateTo.seconds * 1000 ) | date:'dd.MM.y'}}
          </ion-badge>
        </ion-item>
       

      <!--<ion-item-options side="end">
        <ion-item-option color="danger" (click)="cancel(slidingItemPast, reservation)">stornieren</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>-->


  </ion-list>
  <!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="addReservation()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
