<ion-header>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="confirmBooking()">
        <b>buchen</b>
      </ion-button>
    </ion-buttons>
    <ion-title>Deine Buchung</ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="dismiss()">
        schliessen
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" name="heart-outline"></ion-icon>
      <ion-label>
        {{desk.name}}: {{bookingTypeDescription}}
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="enter-outline"></ion-icon>
      <ion-label>
        <h2>Start deiner Buchung</h2>
        <p> {{dateFrom | date:'dd.MM.y'}}
          {{dateFrom | date:'HH:mm'}} Uhr</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="exit-outline"></ion-icon>
      <ion-label>
        <h2>Ende deiner Buchung</h2>
        <p> {{dateTo | date:'dd.MM.y'}}
          {{dateTo | date:'HH:mm'}} Uhr</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="cash-outline"></ion-icon>
      <ion-label>
        <h2>Preis</h2>
      </ion-label>

      <ion-badge slot="end">
        CHF {{price}}.-
      </ion-badge>
    </ion-item>
    
  <ion-button color="primary" (click)="confirmBooking()" expand="block">
    Verbindlich buchen
  </ion-button>

    <ion-item>
      <ion-icon slot="start" name="home-outline"></ion-icon>
      <ion-label>
        <p>{{config.coworkingName}}</p>
        <p>{{config.street}}</p>
        <p>{{config.postalcode}} {{config.city}}</p>
      </ion-label>
    </ion-item>


    <ion-img src={{desk.picture}}>

    </ion-img>



  </ion-list>




</ion-content>
