<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coworking-Space im Meetingpoint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Coworking-Space im Meetingpoint </ion-title>
    </ion-toolbar>
    <!--
     <ion-buttons collapse="true" slot="end">
       <ion-button (click)="presentAlertPrompt()">
         <ion-icon slot="icon-only" name="calendar"></ion-icon>
        </ion-button>
      </ion-buttons>
    -->
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col class="mt-8" size="12" size-md="4">
        <h1 class="text-2xl">Schritt 1: Datum wählen:</h1>
        <ion-datetime (ionChange)="changeStartDate($event)" presentation="date" locale="de-DE">
        </ion-datetime>
      </ion-col>
      <ion-col class="mt-8" size="12" size-md="4">
        <h1 class="text-2xl">Schritt 2: Tarif wählen:</h1>
        <ion-radio-group (ionChange)="changeTarif($event)" value="{{selectedTarif}}">
          <ion-item *ngFor="let entry of deskConfig">
            <ion-label>{{entry.description}}</ion-label>
            <ion-radio slot="start" value="{{entry.type}}"></ion-radio>
            <ion-badge slot="end">
              CHF {{entry.price}}.-
            </ion-badge>
          </ion-item>
        </ion-radio-group>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="mt-8">
    <h1 class="text-2xl">Schritt 3: Tisch wählen:</h1>
    <ion-row>
      <ion-col size="12" size-md="3" *ngFor="let desk of freeDesks">
        <ion-card>
          <img src="{{desk.picture}}" />
          <ion-card-header>
            <ion-card-title>{{desk.name}}</ion-card-title>
            <ion-card-subtitle>{{desk.description}} </ion-card-subtitle>
          </ion-card-header>
          <ion-footer>
            <ion-row>
              <ion-col></ion-col>
              <ion-col>
                <ion-button (click)="bookTable(desk)" *ngIf="!bookingBlocked">
                  Tisch wählen
                </ion-button>
                <ion-button  *ngIf="bookingBlocked">
                  Tisch nicht verfügbar
                </ion-button>
              </ion-col>
              <ion-col></ion-col>
            </ion-row>
          </ion-footer>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon (click)="addResource()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
-->


</ion-content>
