<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      FAQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">FAQ</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Basic -->
  <ion-accordion-group>
    <ion-accordion value="1">
      <ion-item slot="header">
        <ion-text>Ich habe viele Calls. Kann ich mich irgendwo zurückziehen?</ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Im Bistro-Bereich vom Meetingpoint hat es drei Arbeitsboxen (auf drei Seiten geschlossen), die akustisch gut abschirmen vor Nebengeräuschen (siehe Bildgalerie auf dieser Seite). Zudem können wir für kurze Calls das Sitzungszimmer vom Schaffhauser Bock mitnutzen. Über weitere Lösungen (zum Beispiel schallisolierte Telefonboxen) entscheiden wir nach der Testphase.</ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="2">
      <ion-item slot="header">
        <ion-text>Kann ich auch länger als 18 Uhr bleiben? </ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Ja. Du kannst den Coworking Space auch nach 18 Uhr verlassen. Bitte Lichter löschen! Die Tür hinter dir schliesst sich automatisch. </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="3">
      <ion-item slot="header">
        <ion-text>Kann ich sehen, wer sonst noch im Cowokring Space ist? </ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Ja. In unserer Buchungsplattform auf coworking.starthub.sh unter dem Tab „Community“ siehst du, wer wann einen Arbeitsplatz gebucht hat. Link zum Community-Bereich</ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="4">
      <ion-item slot="header">
        <ion-text>Kann ich den Arbeitsplatz auch vor Ort buchen? </ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Ja, du kannst spontan vorbeikommen und den Arbeitsplatz vor Ort buchen. Sollten wir an einem Tag ausgebucht sein, kommunizieren wir dies hier auf der Website und auf Instagram.  </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="5">
      <ion-item slot="header">
        <ion-text>Ich bin noch nicht überzeugt. Kann ich bei euch mal reinschnuppern?  </ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Ja klar: komm einfach spontan vorbei, mache dir vor Ort ein Bild und arbeite ein paar Stunden gratis, bevor du dich entscheidest.  </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="6">
      <ion-item slot="header">
        <ion-text>Ist der Coworking Space auch am Wochenende geöffnet?  </ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Nein, der Coworking Space ist von Montag bis Freitag geöffnet. Hast du eine spezielle Anfrage? Schreibe uns ein Mail: coworking@starthub.sh  </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="7">
      <ion-item slot="header">
        <ion-text>Gibt es grosse Bildschirme, an die ich meinen Laptop anschliessen kann? </ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Nein, bis jetzt noch nicht. Über diese Anschaffung entscheiden wir, sollte das Bedürfnis vorhanden sein, nach der Testphase.   </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="8">
      <ion-item slot="header">
        <ion-text>Gibt es einen Drucker und Scanner?</ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Nein, bis jetzt noch nicht. Über diese Anschaffung entscheiden wir, sollte das Bedürfnis vorhanden sein, nach der Testphase.   </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="9">
      <ion-item slot="header">

       
        <ion-text>Welche COVID-Vorschriften gelten im Coworking?</ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Bitte beachte, dass im Meetingpoint und Coworking Space eine Zertifikats- und Maskenpflicht gilt. Der Coworking Space wird regelmässig gereinigt und die Oberflächen desinfiziert. Zudem steht dir im Coworking Space ein Händedesinfektionsmittel zur Verfügung. </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="10">
      <ion-item slot="header">

        <ion-text>Ich trinke keinen Kaffee. Gibt es trotzdem etwas gratis?  </ion-text>

      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Ja, auch einen Tee oder sonstige Getränke im gleichen Wert wie ein Kaffee gibt es pro Buchung gratis. Frage einfach beim Bistro, was sie dir anbieten können.  </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="11">
      <ion-item slot="header">

        <ion-text>Gibt es Sonderkonditionen für Studierende? </ion-text>

      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Ja, gibt's! Beantrage deinen Spezialrabatt direkt im Buchungstool in deinem Profil oder per E-Mail an coworking@starthub.sh. </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="12">
      <ion-item slot="header">

        <ion-text>Was kostet mich ein Arbeitstag im Coworking Space?   </ion-text>

      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Die Tarife findest du auf dieser Seite aufgeführt.  </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>

    <ion-accordion value="13">
      <ion-item slot="header">

        <ion-text>Ich möchte einen Arbeitsplatz zeitlich unbegrenzt fix mieten. Ist das möglich?  </ion-text>

      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Schreibe uns ein E-Mail an coworking@starthub.sh. Gerne besprechen wir mit dir die Möglichkeiten</ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="14">
      <ion-item slot="header">

        <ion-text>Verfügt ihr über einen grossen Meetingraum, den wir als Team mieten können für Seminare/Workshops?</ion-text>

      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Nein, ein grosser Raum für Meetings ist bei uns nicht vorhanden. Du hast aber die Möglichkeit, den ganzen Coworking Space für einen oder mehrere Tage für dein Seminar zu mieten. Schreibe uns dazu ein E-Mail an coworking@starthub.sh</ion-textarea>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="15">
      <ion-item slot="header">
        <ion-text>Was gibt es im Meetingpoint zu essen?</ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Täglich kochen wir mit viel Liebe zum Detail herzhafte, abwechslungsreiche, saisonale Gerichte aus regionalen Produkten!</ion-textarea>
          <ion-button (click)="openLink('https://www.meetingpoint-sh.ch/wp-content/uploads/Meetingpoint_Schaffhausen_Menueplan_Bistro.pdf')">Menuplan</ion-button>
        </ion-item>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="16">
      <ion-item slot="header">
        <ion-text>Gibt es auch eine Zusammenfassung der wichtigsten Regeln?</ion-text>
      </ion-item>
      <ion-list slot="content">
        <ion-item>
          <ion-textarea readonly>Schon mal vorne Weg das WLAN: WiFi "MeetingPoint-Gast" und PW wifi4Gast$21</ion-textarea>
          <ion-button (click)="openLink('https://www.starthub.sh/wp-content/uploads/2021/09/StartHub_Coworking_Hausregeln.pdf')">Hausregeln</ion-button>
          <!--<ion-textarea readonly></ion-textarea>-->
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>
